name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [17, 21, 25]

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-version: ${{ matrix.java-version }}

    - name: Build with Maven
      run: mvn clean install

    - name: Test coverage Report
      run: mvn jacoco:prepare-agent test jacoco:report

    - uses: codecov/codecov-action@v5.5.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
